.content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100vh;
    max-width: 2000px;
    margin: 0 auto;
    padding: 45px 60px 45px 75px;
}

.content__heading {
    margin-bottom: 60px;
    font-family: $font-secondary, sans-serif;
    font-weight: 300;
    font-size: 2rem;
}
